<div class="frame">
  <div class="intro">
    <% if !@corollaries.empty? %>
      <% @corollaries.each do |c| %>
        <h3><%= link_to c.name, theorem_corollary_path(c.theorem, c) %></h3><br><br>
        <div class="corollary-statement"><%= truncate c.statement %></div><br>
        <% if current_user.admin? %>
          <strong><p>Created by: <%= link_to c.created_by, user_by_email(c.created_by) %></p></strong>
          <strong><%= link_to "Edit", edit_theorem_corollary_path(c.theorem, c), class: "btn btn-primary" %>  <%= button_to "Destroy", theorem_corollary_path(c.theorem, c), class: "btn btn-danger btn-xs", method: :delete, data: {confirm: "Are you sure?"} %></strong>
        <% end %>
        <div id="line"></div>
      <% end %>
    <% else %>
      <h3 style="text_align: middle;">No Corollaries to display</h3>
    <% end %>
  </div>
</div>
