<% if @corollary.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@corollary.errors.count, "error") %>
      prohibited this Corollary from being saved:
    </h2>
    <ul>
    <% @corollary.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<br>

<%= form_for [@theorem, @corollary], :html => {:class => "form-horizontal center"}  do |f| %>

  <div class="form-group">
    <h4><%= f.label :name, class: "col-md-4 control-label" %></h4>
    <div class="col-md-4">
      <%= f.text_field :name, :required => true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <h4><%= f.label :statement, class: "col-md-4 control-label" %></h4>
    <div class="col-md-4">
      <%= f.text_field :statement, :required => true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <h4><%= f.label :demonstration, class: "col-md-4 control-label" %></h4>
    <div class="col-md-4">
      <%= f.text_field :demonstration, class: "form-control" %>
    </div>
  </div>

  <% f.hidden_field :theorem_id, :value => @theorem.id %>
  <%= f.hidden_field :created_by, :value => current_user.email %>

  <%= f.submit "Submit", class: "btn btn-default btn-primary", id: "submit_new_corollary"%><br><br>
<% end %>
