<h1><%= user_greetings %></h1>

<br><br><br><br><br><br><br><br>

<div class="frame-top-right">
  <div id="user-creations">
    <strong><h4>Number of Subjects added: <%= link_to @user.subjects_added_count, { action: "subjects_created" } %></h4></strong>
    <strong><h4>Number of Areas added: <%= link_to @user.areas_added_count, { action: "areas_created" }  %></h4></strong>
    <strong><h4>Number of Scientists added: <%= link_to @user.scientists_added_count, { action: "scientists_created" } %></h4></strong>
    <strong><h4>Number of Theorems added: <%= link_to @user.theorems_added_count, { action: "theorems_created" }  %></h4></strong>
  </div>
</div>

<%= render partial: 'admin_button', locals: {user: @user} %>

<div class="frame">
  <div id="saved-theorems">
    <h3>Favourites: </h3><br>
    <ul>

    </ul>
  </div>
</div>
