<h2><%= user_greetings %></h2>

<br><br>

<div class="diamond" id="user-creations">
  <div id="user-areas">
    <strong><h4>Number of Areas added: <%= @user.areas_added %></h4></strong>
  </div>
  <div id="user-scientists">
    <strong><h4>Number of Scientists added: <%= @user.scientists_added %></h4></strong>
  </div>
  <div id="user-theorems">
    <strong><h4>Number of Theorems added: <%= @user.theorems_added %></h4></strong>
  </div>
</div>

<%= render partial: 'admin_button', locals: {user: @user} %>

<div id="saved-theorems">
  <h3>Favourites: </h3><br>
  <ul>

  </ul>
</div>
