<h1><%= user_greetings %></h1>

<br><br><br><br><br><br><br><br>

<div class="back-button">
  <%= render partial: 'admin_button', locals: { user: @user } %>
</div>


<div class="frame-top-right">
  <div id="user-creations">
    <strong><h4>Number of Subjects added: <%= link_to @user.resources_added_count("Subject"), { action: "subjects_created" } %></h4></strong>
    <strong><h4>Number of Areas added: <%= link_to @user.resources_added_count("Area"), { action: "areas_created" }  %></h4></strong>
    <strong><h4>Number of Scientists added: <%= link_to @user.resources_added_count("Scientist"), { action: "scientists_created" } %></h4></strong>
    <strong><h4>Number of Theorems added: <%= link_to @user.resources_added_count("Theorem"), { action: "theorems_created" }  %></h4></strong>
  </div>
</div>


<div class="frame">
  <div id="saved-theorems">
    <header>
      <h2>Favourites: </h2>
    </header>

    <div id="left">
      <%= render partial: 'display_fav_scientists' %>
    </div>
    <div id="right">
      <%= render partial: 'display_fav_theorems' %>
    </div>
  </div>
</div>
