<% if @area.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(area.errors.count, "error") %> prohibited this Area from being saved:</h2>
    <ul>
    <% @area.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1><%= @subject.name %></h1>

<br><br>

<div id="areas">
  <% if @subject.areas.count > 0 %>
    <ul>
      <% @subject.areas.each do |a| %>
        <% if a.id %>
          <h3><%= link_to a.name, subject_area_path(@subject, a) %></h3><br>
          <% if current_user.admin? %>
            <p>Created by: <%= a.created_by %></p>
            <li><%= link_to "Edit", edit_subject_area_path(@subject, a) %> - <%= link_to "Destroy", destroy_subject_area_path(@subject, a), method: :delete %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>

<br><br>

<div class="container-fluid text-center" id="new-area-form">
  <strong><h3>Add new Area:</h3></strong>
  <%= render partial: 'areas/form', locals: {subject: @subject, area: @area} %>
</div>
