<h1>Sign In</h1><br><br><br><br>
<div class="frame">
  <div class="intro">
    <div class="authform">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal center"}) do |f| %>
        <%= devise_error_messages! %><br>
        <div class="form-group">
          <h4><%= f.label :email, class: "col-md-4 control-label" %></h4>
          <div class="col-md-4">
            <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <h4><%= f.label :password, class: "col-md-4 control-label" %></h4>
          <%= link_to "Forgot password?", new_password_path(resource_name), class: 'right' %>
          <div class="col-md-4">
            <%= f.password_field :password, class: 'form-control' %>
          </div>
        </div><br><br>
          <%= f.submit 'Sign in', :class => 'btn btn-primary' %><br>
          <% if devise_mapping.rememberable? -%>
            <div class="checkbox" id="middle" style="width:150px, color:red">
              <label>
                <%= f.check_box :remember_me %> Remember me
              </label>
            </div><br>
          <% end -%>
      <% end %>
    </div>
  </div>
</div>
