<h1>Theorems:</h1>

<ul>
  <% @theorems.each do |t| %>
    <h3><%= link_to t.name, t %></h3><br><br>
    <div class="theorem-statement"><%= truncate t.statement %></div><br>
    <% if current_user.admin? %>
      <strong><p>Created by: <%= t.created_by %></p></strong>
      <strong><%= button_to "Edit", edit_theorem_path(t), class: "btn btn-primary btn-xs" %>  <%= button_to "Destroy", theorem_path(t), class: "btn btn-danger btn-xs", method: :delete, data: {confirm: "Are you sure?"} %></strong>
    <% end %>
    <p>----------------------------------------</p>
  <% end %>
</ul>
