<h1><%= @theorem.name %></h1>

<br>

<h3><%= @theorem.statement %></h3>

<br>

<h3><%= @theorem.demonstration %></h3>

<br>

<h3><%= @theorem.scientist.full_name %></h3>

<br>

<h3><%= @theorem.area.name %></h3>

<br>

<h3><%= @theorem.subject.name %></h3>
