<% if @scientist.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@scientist.errors.count, "error") %>
      prohibited this Scientist from being saved:
    </h2>
    <ul>
    <% @scientist.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<br>

<%= form_for @scientist, :html => {:class => "form-horizontal center"} do |f| %>
  <div class="form-group">
    <h4><%= f.label :full_name, "Full Name", class: "col-md-4 control-label" %></h4>
    <div class="col-md-4">
      <%= f.text_field :full_name, placeholder: "Name, Middle Name, Last Name", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <h4><%= f.label :year_of_birth, "Year of birth (YYYY): ", class: "col-md-4 control-label" %></h4>
    <div class="col-md-4">
      <%= f.number_field :year_of_birth, placeholder: 'Use negative numbers for BC years', class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <h4><%= f.label :year_of_death, "Year of death (YYYY): ", class: "col-md-4 control-label" %></h4>
    <div class="col-md-4">
      <%= f.number_field :year_of_death, placeholder: 'Leave blank if still alive', max: what_year_is_it?, :include_blank => true, class: "form-control" %>
    </div>
  </div>

  <br>

  <%= f.hidden_field :created_by, :value => current_user.email %>

  <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
<% end %>
