<% if @scientist.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@scientist.errors.count, "error") %>
      prohibited this Scientist from being saved:
    </h2>
    <ul>
    <% @scientist.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<br>

<%= form_for @scientist, :html => {:class => "form-horizontal center"} do |f| %>
  <div class="form-group">
    <h4><%= f.label :full_name, "Full Name", class: "col-md-4 control-label" %></h4>
    <div class="col-md-4">
      <%= f.text_field :full_name, placeholder: "Name, Middle Name, Last Name", :required => true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <h4><%= f.label :year_of_birth, "Year of birth (YYYY): ", class: "col-md-4 control-label" %></h4>
    <div class="col-md-4">
      <%= f.number_field :year_of_birth, placeholder: 'Use negative numbers for BC years', :required => true, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <h4><%= f.label :year_of_death, "Year of death (YYYY): ", class: "col-md-4 control-label" %></h4>
    <div class="col-md-4">
      <%= f.number_field :year_of_death, placeholder: 'Leave blank if still alive', max: what_year_is_it?, :include_blank => true, class: "form-control" %>
    </div>
  </div>

  <br>

  <%= f.hidden_field :created_by, :value => current_user.email %>

  <h3>Create the first theorem: </h3>

  <%= f.fields_for :theorems do |theorem| %>
    <div class="form-group">
      <%= theorem.label :name, "Theorem Name", class: "col-md-4 control-label" %>
      <div class="col-md-4">
        <%= theorem.text_field :name, :required => true %>
      </div>
    </div>

    <div class="form-group">
      <%= theorem.label :statement, class: "col-md-4 control-label" %>
      <div class="col-md-4">
        <%= theorem.text_area :statement, :required => true %>
      </div>
    </div>

    <div class="form-group">
      <%= theorem.label :demonstration, class: "col-md-4 control-label" %>
      <div class="col-md-4">
        <%= theorem.text_area :demonstration %>
      </div>
    </div>

    <%= theorem.hidden_field :created_by, :value => current_user.email %>

    <div class="form-group">
      <%= theorem.label :area_id, class: "col-md-4 control-label" %>
      <div class="col-md-4">
        <%= theorem.collection_select :area_id, Area.all, :id, :name, :include_blank => "Select Area" %>
      </div>
    </div>

    <%= theorem.fields_for :area do |area| %>
      <div class="form-group">
        <%= area.label :name, "Or Create New Area", class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= area.text_field :name %>
        </div>
      </div>

      <div class="form-group">
        <%= area.label :subject_id, class: "col-md-4 control-label" %>
        <div class="col-md-4">
          <%= area.collection_select :subject_id, Subject.all, :id, :name, :include_blank => "Select Subject" %>
        </div>
      </div>

      <%= area.hidden_field :created_by, :value => current_user.email %>

      <%= area.fields_for :subject do |subject| %>
        <div class="form-group">
          <%= subject.label :name, "Or Create New Subject", class: "col-md-4 control-label" %>
          <div class="col-md-4">
            <%= subject.text_field :name %>
          </div>
        </div>

        <%= subject.hidden_field :created_by, :value => current_user.email %>

      <% end %>

    <% end %>
  <% end %>

  <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
<% end %>
