<div class="frame">
  <div class="scientist-theorems">
    <ul>
      <%= link_to "New Theorem", new_scientist_theorem_path(@scientist, @theorem), class: "btn btn-primary", id: "button-top-right"%>
      <% if @scientist.theorems.count == 0  %>
        <h3>No theorems to display</h3>
      <% else %>
        <% @scientist.theorems.take(3).each do |t| %>
          <% if t.id %>
            <li><h3><%= link_to t.name, scientist_theorem_path(@scientist, t) %></h3></li>
            <h4><%= truncate t.statement %></h4><br>
            <div class="admin-info">
              <% if current_user.admin? %>
                <strong><p>Created by: <%= link_to t.created_by, user_by_email(t.created_by) %></p></strong>
                <strong><%= link_to "Edit", edit_scientist_theorem_path(@scientist, t), class: "btn btn-primary btn-xs" %>  <%= button_to "Destroy", [@scientist, t], class: "btn btn-danger btn-xs", method: :delete, data: {confirm: "Are you sure?"} %></strong>
              <% end %>
            </div>
            <p>----------------------------------------</p>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
