<h1><%= @scientist.full_name %></h1>

<br><br><br><br><br><br>

<%= render partial: "/theorems/fav_buttons", locals: {resource: @scientist} %>


<br><br>

<div class="frame-too">
  <h3><div class="centered">(Year of Birth: <%= @scientist.birth_before_christ? %> - Year of Death: <%= @scientist.death_before_christ? %>)</div></h3><br>
</div>

<br><br>

<div class="frame">
  <div class="scientist-theorems">
    <%= render partial: 'scientist_quotes', locals: {scientist: @scientist} %><br>
  </div>
</div>


<%= render partial: 'scientist_page', locals: {scientist: @scientist} %><br>

<% if condition("theorems") %>
  <%= link_to "See all theorems", scientist_theorems_path(@scientist), class: "btn btn-primary big-btn", id: "index-button"%>
<% end %>
