<h1><%= @scientist.full_name %></h1>

<br><br><br><br><br><br>

<%= render partial: "/theorems/fav_buttons", locals: {resource: @scientist} %>


<br><br>

<div class="frame-too">
  <h3><div class="centered">(Year of Birth: <%= @scientist.birth_before_christ? %> - Year of Death: <%= @scientist.death_before_christ? %>)</div></h3><br>
</div>

<br><br><br><br>


<div class="scientist-buttons">
  <%= link_to "Quotes", scientist_quotes_path(@scientist), class: "btn btn-primary", id: "index_quote"%>
  <%= link_to "New Quote", new_scientist_quote_path(@scientist, @quote), class: "btn btn-primary", id: "new_quote_form"%>
  <%= link_to "All theorems", scientist_theorems_path(@scientist), class: "btn btn-primary", id: "index_theorems"%>
  <%= link_to "New Theorem", new_scientist_theorem_path(@scientist, @theorem), class: "btn btn-primary", id: "nested_theorem_form"%>
</div>

<div id="quotes_by_scientist"></div>

<div id="form_for_quote"></div>

<div id="theorems_by_scientist"></div>

<div id="form_for_theorem"></div>
